[build]
  command = "npm run build"
  publish = "dist/interviewace/browser"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[functions]
  node_bundler = "esbuild"
